{
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  // "globals": {
  //   "React": true,
  //   "jsdom": true,
  //   "JSX": "readonly"
  // },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module"
  },
  "plugins": ["babel", "react", "react-hooks"],
  "extends": [
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "plugin:react-hooks/recommended"
  ],
  "parser": "babel-eslint",
  "rules": {
    "no-console": "warn",
    // Best Practices
    "no-magic-numbers": "off",
    "vars-on-top": "off",

    // Stylistic Issues
    "spaced-comment": "off",

    // ECMAScript 6
    "no-var": "warn",
    "no-unused-vars": "warn",
    "object-shorthand": "off",
    "prefer-arrow-callback": "off",
    "prefer-template": "off",
    "prefer-rest-params": "off",

    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "warn",
    "react/prop-types": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "off"
  }
}
