.slick-dots {
  // position: absolute;
  bottom: 12px !important;
  // display: block;
  // width: 100%;
  // padding: 0;
  // margin: 0;
  // list-style: none;
  // text-align: center;
  // color: white !important;
  // font-size: 2em !important;
}

// .slick-dots li {
//   position: relative;
//   display: inline-block;
//   width: 20px;
//   height: 20px;
//   margin: 0 5px;
//   padding: 0;
//   cursor: pointer;
//   color: rgb(238, 255, 0) !important;
// }

.slick-dots li.slick-active button::before {
  font-size: 10px !important;
  opacity: 0.95;
  color: rgb(255, 255, 255) !important;
}

.slick-dots li button::before {
  opacity: 0.5 !important;
  font-size: 7px !important;
  color: rgb(255, 255, 255) !important;
}

.ui.cards {
  display: flex !important;
  margin: -0.875em -0.5em !important;
  flex-wrap: wrap !important;
  justify-content: space-evenly !important;
}

.ui.cards {
  .card {
    font-size: 1em;
    width: 20%;
  }
}

/*---- brands -----*/
.brands {
  // margin: 100px auto !important;
  display: flex !important;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;

  .brandItem {
    display: inline-block !important;
    width: 160px;

    img {
      width: 100%;
      cursor: pointer;
      filter: grayscale(100%);
      transition: transform 1.5s;
    }

    img:hover {
      filter: grayscale(10%);
    }
  }
}

// .brandItem img {
//   width: 100%;
//   cursor: pointer;
//   filter: grayscale(100%);
//   transition: transform 1.5s;
// }

// .brandItem img:hover {
//   filter: grayscale(10%);
// }
