// Colors
$dark-violet: #eca3f5;
$light-violet: #fdbaf8;
$light-acuad: #b0efeb;
$light-yellow: #edffa9;

$colorBackground: #eaeaea;

$colorViolet-10: #822659;
$colorViolet-08: #b34180;
$colorViolet-05: #e36bae;
$colorViolet-03: #f8a1d1;

$colorPrimary: $colorViolet-10;
$colorSecondary: $colorViolet-05;
$colorTercery: #2fadff;
$colorPrimaryBase: $colorViolet-03;

$colorMenuBackground: $colorViolet-05;
$colorMenuText: rgba(0, 0, 0, 0.7);

$map: (
  primary: red,
  sencondary: green,
  tertiary: blue,
);

// Variables

$pixelcount: 10.3px;
$breakpoints: (
  s: 0px,
  m: 640px,
  l: 1024px,
  xl: 1200px,
  xxl: 1440px,
);
