.mt-1 {
  margin-top: 5px !important;
}
.mt-5 {
  margin-top: 20px !important;
}
.mb-1 {
  margin-bottom: 5px !important;
}
.mb-5 {
  margin-bottom: 20px !important;
}

.pointer {
  cursor: pointer !important;
}
