// Colors
$dark-violet: #eca3f5;
$light-violet: #fdbaf8;
$light-acuad: #b0efeb;
$light-yellow: #edffa9;

$colorPrimary: #ff2fad;
$colorSecondary: #adff2f;
$colorTercery: #2fadff;

$colorBackground: #eaeaea;

$colorViolet-10: #822659;
$colorViolet-08: #b34180;
$colorViolet-05: #e36bae;
$colorViolet-03: #f8a1d1;

$map: (
  primary: red,
  sencondary: green,
  tertiary: blue,
);

// Variables

$pixelcount: 5px;
$breakpoints: (
  s: 0px,
  m: 640px,
  l: 1024px,
  xl: 1200px,
  xxl: 1440px,
);
