@import './base';

@for $i from 1 through 20 {
  .cols-#{$i * 5} {
    width: $i * 5%;
  }
}

@for $i from 1 through 20 {
  .mt-#{$i} {
    margin-top: $i * $pixelcount !important;
  }
  .mb-#{$i} {
    margin-bottom: $i * $pixelcount !important;
  }
  .ml-#{$i} {
    margin-left: $i * $pixelcount !important;
  }
  .mr-#{$i} {
    margin-right: $i * $pixelcount !important;
  }
  .mx-#{$i} {
    margin-left: $i * $pixelcount !important;
    margin-right: $i * $pixelcount !important;
  }
  .my-#{$i} {
    margin-top: $i * $pixelcount !important;
    margin-bottom: $i * $pixelcount !important;
  }

  .pt-#{$i} {
    padding-top: $i * $pixelcount !important;
  }
  .pb-#{$i} {
    padding-bottom: $i * $pixelcount !important;
  }
  .pl-#{$i} {
    padding-left: $i * $pixelcount !important;
  }
  .pr-#{$i} {
    padding-right: $i * $pixelcount !important;
  }
  .px-#{$i} {
    padding-left: $i * $pixelcount !important;
    padding-right: $i * $pixelcount !important;
  }
  .py-#{$i} {
    padding-top: $i * $pixelcount !important;
    padding-bottom: $i * $pixelcount !important;
  }

  .pst-#{$i} {
    position: relative !important;
    top: $i * $pixelcount !important;
  }
  .psb-#{$i} {
    position: relative !important;
    bottom: $i * $pixelcount !important;
  }
}

@for $i from 1 through 10 {
  @media screen and (min-width: map-get($breakpoints, m )) {
    .cols-m-#{$i * 5} {
      width: $i * 5%;
    }
  }
}
